<!-- 🟢 DATA BINDING -->

<!-- <h1 
  class="title" 
  [class.blue-text]="disableBtn">
  Ciao corso {{ numCourse }}
</h1> --> <!-- string intepolation -->

<!-- [] => property binding -->
<!-- () => event binding -->
<!-- <button 
  [disabled]="disableBtn" 
  class="btn btn-primary"
  (click)="triggerBtn($event)"
>Attiva e cambia</button> -->

<!-- <hr> -->

<!-- <input type="text" [(ngModel)]="username">

<h1>Hello {{ username }}</h1> -->

<!-- 🟢 DIRECTIVES -->

<!-- <h1>Hello {{ isLoggedIn ? 'Utente loggato' : 'Ospite' }}</h1>

<button (click)="log()" class="btn btn-danger">{{ isLoggedIn ? 'Logout' : 'Login'}}</button> -->
<!-- 
<h1 *ngIf="isLoggedIn; else login">Hello utente loggato</h1>

<ng-template #login>
  <h4 class="blue-text">Hello ospite</h4>
</ng-template>

<button (click)="log()" class="btn btn-danger">{{ isLoggedIn ? 'Logout' : 'Login'}}</button> -->

<h1 *ngFor="let name of names">
 Name {{ name }}
</h1>